<header class="bg-white border-b sticky top-0 z-50">

<div class="max-w-7xl mx-auto px-4">

<div class="flex justify-between items-center h-16">


<a href="../index.html"
class="text-xl font-black">

آکادمی
<span class="text-indigo-600">
عزیزی
</span>

</a>



<nav class="hidden md:flex gap-6">


<a 
data-page="home"
href="../index.html"
class="nav-link text-gray-600">

صفحه اصلی

</a>



<a 
data-page="courses"
href="courses.html"
class="nav-link text-gray-600">

دوره‌ها

</a>



<a 
data-page="dashboard"
href="dashboard.html"
class="nav-link text-gray-600">

داشبورد

</a>



</nav>




<a href="cart.html"
class="relative">

<i class="fa-solid fa-cart-shopping text-xl"></i>


<span
id="cart-count-badge"
class="hidden absolute -top-3 -right-3 bg-red-500 text-white text-xs w-5 h-5 rounded-full flex items-center justify-center">

</span>


</a>



<a
id="auth-btn"
href="login.html"
class="bg-indigo-50 text-indigo-600 px-4 py-2 rounded-xl">

ورود / ثبت‌نام

</a>


</div>

</div>

</header>