<header class="bg-white border-b sticky top-0 z-50">

<div class="max-w-7xl mx-auto px-4">

<div class="flex justify-between items-center h-16">


<a href="../index.html"
class="text-xl font-black">

آکادمی
<span class="text-indigo-600">
عزیزی
</span>

</a>



<nav class="flex gap-6">


<a 
data-page="home"
href="../index.html"
class="nav-link text-gray-600">

صفحه اصلی

</a>



<a 
data-page="courses"
href="/frontend/pages/courses.html"
class="nav-link text-gray-600">

دوره‌ها

</a>



<a 
data-page="dashboard"
href="/frontend/pages/about-us.html"
class="nav-link text-gray-600">

درباره ما

</a>



</nav>




<a href="/frontend/pages/cart.html" class="relative w-11 h-11 rounded-xl bg-gray-50 border border-gray-200/85 text-gray-600 hover:text-gray-900 hover:bg-gray-100 hover:border-gray-300 flex items-center justify-center transition-all duration-200">
    <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
    </svg>

    <span
        id="cart-count-badge"
        class="hidden absolute -top-1.5 -right-1.5 bg-rose-500 text-white text-[10px] font-black w-4.5 h-4.5 rounded-full flex items-center justify-center border-2 border-white shadow-sm">
        0
    </span>
</a>


<a
id="auth-btn"
href="/frontend/pages/login.html"
class="bg-indigo-50 text-indigo-600 px-4 py-2 rounded-xl">

ورود / ثبت‌نام

</a>


</div>

</div>

</header>